* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-brand--1);
  font-family: 'Monda', sans-serif;
  // font-family: 'Staatliches', cursive;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
:root {
  --color-brand--1: #e0e0e0;
  --color-brand--2: #831adc;
  --color-brand--2--light: #9913e1;

  --color-dark--1: #000;
}
.colored-1 {
  color: var(--color-brand--1);
}
.colored-2 {
  color: var(--color-brand--2);
}
.colored-light {
  color: var(--color-brand--2--light);
}
.bold-700 {
  font-weight: 700;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  border-radius: 25px;
  padding: 0.7rem 6rem;
}
.arrow-slider-default {
  border: none;
  background: none;
  transition: all 0.4s;
  cursor: pointer;
}
.arrow-slider-default:hover {
  transform: translate(1rem);
}
.padding-0 {
  padding: 0 !important;
}
.heigth-for-col {
  max-height: 26rem;
}
