//1200px
@media (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}

// @media (max-width: 48em) {
//   html {
//     font-size: 50%;
//   }
// }

//992px
@media (max-width: 62em) {
  .hero_nav {
    display: none;
  }
  html {
    font-size: 50% !important;
  }
  .break-text-curved-2 {
    transform: rotate(-2deg) translateX(15%);
  }

  .hero_img_logo {
    transform: translate(0);
  }
  .slide-circle {
    padding-top: 2rem;
    background-position: center;
  }
  .padding-slide {
    padding-top: 2rem;
  }
}
