//1200px
@media (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}

//992px
@media (max-width: 62em) {
  .hero_nav {
    display: none;
  }
  html {
    font-size: 50% !important;
  }
  .break-text-curved-2 {
    transform: rotate(-2deg) translateX(15%);
  }

  .hero_img_logo {
    transform: translate(0);
  }
  .slide-circle {
    padding-top: 2rem;
    background-position: center;
  }
  .padding-slide {
    padding-top: 2rem;
  }
}
@media (max-width: 48em) {
  .section-slide-img {
    padding-top: 8rem;
  }
  .padding-img-slider {
    padding-bottom: 12rem;
  }
  .tickets-text {
    text-align: center;
    margin-top: 2rem;
  }
  .right-ticket {
    margin: 0;
  }
  .btn-tickets:link,
  .btn-tickets:visited {
    // display: inline-flex;
    // justify-content: center;
  }
  .btn-tickets {
    display: flex;
    justify-content: center;
  }
  .break-text-curved-2 {
    transform: rotate(-2deg) translateX(50%);
  }
  .break-text-curved-1 {
    transform: rotate(-4deg) translateX(20%);
  }
  .john-text:after {
    height: 30%;
    z-index: -1;
    bottom: -2rem;
  }
  .john-doe-arrow-left {
    bottom: 0;
  }
  .john-doe-arrow-right {
    bottom: 0;
  }

  .slider-jhon {
    height: 70rem;
  }
  .john-doe-section {
    padding: 13rem 0 8rem;
  }
  .margin-form {
    margin-bottom: 8rem;
  }
}
