//1200px
@media (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}

//992px
@media (max-width: 62em) {
  html {
    font-size: 50% !important;
    overflow-x: hidden !important;
  }

  .row {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
  .container {
    padding-right: 0 !important;
  }
  .row > * {
    padding-right: 0 !important;
  }
  .break-text-curved-2 {
    transform: rotate(-2deg) translateX(15%);
  }

  .hero_img_logo {
    transform: translate(0);
  }

  .nav {
    position: relative;
  }
  .mobile-hidden {
    opacity: 0 !important;

    transform: translateY(-100%);
  }

  .hero_nav {
    position: absolute;
    flex-direction: column;
    z-index: 999;
    top: 2.8rem;
    right: 5rem;
    left: 0;
    bottom: 0;
    gap: 1rem;
    height: 30rem;
    background-color: #111;
    opacity: 0.99;
    padding-top: 8rem;

    transition: transform 1s, opacity 1s;
  }
  .hero_link:link,
  .hero_link:visited {
    color: #e0e0e0;
  }
  .hero_link:hover,
  .hero_link:active {
    color: #831adc;
  }
  .hero_logo_icon {
    z-index: 9999;
  }
  .hero_nav_item {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 3rem;

    transition: transform 1s, opacity 1s;
  }

  .mobile-nav {
    display: block;
    width: 8rem;
    align-self: center;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 9999;
  }
  .close {
    display: none;
  }
  .open {
    display: none;
  }
  .john-text::after {
    height: 30%;
    z-index: -1;
    bottom: -3rem;
  }
  .party-right-box {
    background-position: 10rem 0, 40rem 60rem;
  }
}
//768px
@media (max-width: 48em) {
  .section-slide-img {
    padding-top: 12rem;
  }
  .padding-img-slider {
    padding-bottom: 12rem;
  }
  .tickets-text {
    text-align: center;
    margin-top: 2rem;
  }
  .right-ticket {
    margin: 0;
  }
  .btn-tickets:link,
  .btn-tickets:visited {
    display: block;

    width: 30rem;

    margin: 1rem auto;
  }

  .break-text-curved-2 {
    transform: rotate(-2deg) translateX(50%);
  }
  .break-text-curved-1 {
    transform: rotate(-4deg) translateX(20%);
  }
  .john-text::after {
    height: 30%;
    z-index: -1;
    bottom: -2rem;
  }
  .john-doe-arrow-left {
    bottom: 0;
  }
  .john-doe-arrow-right {
    bottom: 0;
  }

  .slider-jhon {
    height: 70rem;
  }
  .john-doe-section {
    padding: 13rem 0 8rem;
  }
  .margin-form {
    margin-bottom: 8rem;
  }
  .tickets-right-head {
    text-align: center;
  }
  .hero-section-under {
    background-position: -12rem 30rem;
  }
  .btn-hero-new:link,
  .btn-hero-new:visited {
    display: block;

    width: 25rem;

    margin: auto;
  }
  .hero-under-header {
    text-align: center;
  }
  .nav {
    padding: 0;
  }
  .hero_img_div {
    margin-bottom: 3rem;
  }
  .bg_hero_img {
    padding: 0;
  }
  .parent_hero {
    padding-bottom: 12rem;
  }
  .arrow_link {
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -5rem;
  }
  .arrow_link:hover {
    transform: translate(-50%, -30%);
  }
  .footer-link,
  .footer-title {
    display: block;
    text-align: center;
  }
  .footer-list-item {
    display: flex;
    justify-content: center;
  }
  .btn-footer:link,
  .btn-footer:visited {
    display: block;
    justify-self: center;
    width: 30rem;
    margin: auto;
  }
  .footer-logo {
    display: block;
    margin: 0 auto;
  }
  .party-right-box {
    background-position: 10rem 0, 65rem 60rem;
  }
  .hero-under-text {
    text-align: center;
  }
  .hero_nav {
    width: 100%;
  }
}
//576px
@media (max-width: 36em) {
  .hero_img_logo {
    width: 90%;
  }
  .slide-text-curved-img-1 {
    transform: rotate(-5deg) translateX(30%);
  }
  .slide-text-curved-img-2 {
    transform: rotate(-2deg) translateX(60%);
  }
  .hero_text-1 {
    transform: translate(-15%) rotate(-5deg);
  }
  .hero_text-2 {
    transform: translate(20%) rotate(-2deg);
  }
  .party-title {
    text-align: center;
  }
  .news-title {
    margin: 6rem 0 2rem 0;
  }
  .form-input {
    width: 70%;
    margin: 0 auto;
  }
  .break-title {
    text-align: center;
  }
  .party-text {
    text-align: center;
  }
  .john-doe-arrow-left {
    left: 3rem;
  }
  .john-doe-arrow-right {
    right: 3rem;
  }
  .form-btn {
    width: 70%;
    margin: 0 auto;
  }
  .hero-section-under {
    background-position: -20rem 35rem;
  }
  .party-right-box {
    background-position: 5rem -2rem, 55rem 60rem;
  }

  .hero_nav {
    height: 110vh;
    padding-top: 20rem;
    top: -8rem;
  }
  .john-text::after {
    height: 30%;
    z-index: -1;
    bottom: -3rem;
  }
  .slide-circle {
    margin-bottom: 4rem;
  }
  .slide-text {
    text-align: center;
    margin-bottom: 3rem;
  }
  .slider {
    height: 50rem;
  }
  .slide {
    height: 40rem;

    background-position: 50% 50%;
  }
  .slide-text-curved-2 {
    transform: rotate(2deg) translateY(4rem) translateX(50%);
  }
  .arrows-slider {
    margin-right: 0rem;
    justify-content: center;
  }
}

@media (max-width: 27em) {
  .break-text-curved-2 {
    transform: rotate(-2deg) translateX(20%);
  }
  .break-text-curved-1 {
    transform: rotate(-4deg) translateX(5%);
  }
  .hero_text-1 {
    transform: translate(0%) rotate(-5deg);
  }
  .hero_text-2 {
    transform: translate(10%) rotate(-2deg);
  }
  .hero_text {
    width: 40rem;
  }
  .break-text-curved-1 {
    transform: rotate(-4deg) translateX(1%);
  }
  .break-text-curved-2 {
    transform: rotate(-2deg) translateX(10%);
  }
  .slide-text-curved-img-1 {
    transform: rotate(-5deg) translateX(15%);
  }
  .slide-text-curved-img-2 {
    transform: rotate(-2deg) translateX(40%);
  }
  .party-title {
    font-size: 8.6rem;
  }
  .hero_nav {
    right: 0;
    top: -8rem;
    height: 106.5vh;
    padding-top: 20rem;
  }
  .hero_nav_item {
    padding-right: 1rem;
  }
  .party-right-box {
    background-position: 5rem -2rem, 40rem 60rem;
  }
  .john-doe-section {
    background-position: 110%, 0, 10rem 0;
  }
  .footer-section {
    background-position: 90% 100%, -50% 100%;
  }
  .hero-section-under {
    background-position: -30rem 35rem;
  }
  .slide-text-curved-1 {
    transform: rotate(-5deg) translate(5%);
    font-size: 1.6rem;
  }

  .slide-text-curved-2 {
    transform: rotate(2deg) translateY(4rem) translateX(15%);
  }
}
@media (max-width: 23em) {
  .hero_text-2 {
    transform: translate(0%) rotate(-2deg);
  }
  .hero_text-1 {
    transform: translate(-5%) rotate(-5deg);
  }
  .slide-text-curved-img-1 {
    transform: rotate(-5deg) translateX(0%);
  }
  .slide-text-curved-img-2 {
    transform: rotate(-2deg) translateX(20%);
  }
  .hero-under-header {
    font-size: 8.6rem;
  }
  .party-right-box {
    background-position: 5rem -2rem, 35rem 70rem;
  }
  .john-doe-section {
    background-position: 115%, 0, 10rem 0;
  }
  .hero-section-under {
    background-position: -33rem 40rem;
  }
  .party-title {
    margin-bottom: 3rem;
  }
  .slide-text {
    font-size: 2.2rem;
  }
  .slide-text-curved-1 {
    transform: rotate(-5deg) translate(0%);
  }

  .slide-text-curved-2 {
    transform: rotate(2deg) translateY(4rem) translateX(5%);
    font-size: 1.6rem;
  }
}
