.ticket-img-head {
  height: 26rem;
  width: 100%;
  object-fit: cover;
}
.tickets-left-img {
  width: 100%;
  height: 100%;
}
.tickets-margin {
  margin-top: 14rem;
}
.tickets-right-head {
  font-size: 9.6rem;
  line-height: 93px;

  font-weight: 400;
  font-family: 'Staatliches', cursive;
  text-align: left;
  margin-bottom: 5rem;
  position: relative;
}

.outline-text::after {
  content: '';
  background-image: url('/img/text-outline.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: -1.5rem;
  left: 20rem;
  z-index: -1;
}
.tickets-text {
  font-size: 1.9rem;
  letter-spacing: 0px;

  text-align: left;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}
.btn-tickets:link,
.btn-tickets:visited {
  font-size: 1.7rem;
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-brand--2);
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  border: 4px solid var(--color-brand--2);
}
.bg-tickets {
  background-image: url('/img/section-3-mark.png');
  background-repeat: no-repeat;
  background-position: top right;
}
.right-ticket {
  margin-left: 6rem;
}
.tickets-text-margin {
  margin-bottom: 12.8rem;
}
.tickets-train-img {
  // width: 100%;
  // height: 100%;
  // object-fit: contain;
  // transform: translateX(-50%);
}
// .overflow-visible {
// }
